In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('data/grocery_sales.csv')
df.head()

  storeID  product  quantity  revenue
0       A   Apples      1811   9300.6
1       A  Bananas      1003   3375.2
2       A  Oranges      1604   8528.5
3       B   Apples      1785   9181.0
4       B  Bananas       944   3680.2

In [8]:
df.shape

(78, 4)

In [10]:
# Calculate the price from the quantity sold and revenue
df['price'] = df['revenue']/df['quantity']

# Drop the quantity and revenue features
reduced_df = df.drop(['quantity', 'revenue'], axis=1)

print(reduced_df.head())

  storeID  product     price
0       A   Apples  5.135616
1       A  Bananas  3.365105
2       A  Oranges  5.317020
3       B   Apples  5.143417
4       B  Bananas  3.898517