In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
form sklearn.lin

In [3]:
df = pd.read_csv('data/Musical artists/artists.csv')
df.head()

  Massive Attack
0        Sublime
1   Beastie Boys
2     Neil Young
3  Dead Kennedys
4        Orbital

In [9]:
df.shape

(110, 1)

In [7]:
data = pd.read_csv('data/Musical artists/scrobbler-small-sample.csv')
data.head()

   user_offset  artist_offset  playcount
0            1             79         58
1            1             84         80
2            1             86        317
3            1             89         64
4            1             96        159

In [8]:
data.shape

(2894, 3)